<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Employee Registration</title>

        <style>
            body{
                height: 100%;
            }

            .nav-left {
                width: 35%;
            }

            .content {
                width: 65%;
            }
            
            .input{
                width:500px;
            }
        
        </style>

    </h:head>
    <h:body>
        <p:layout style="min-width:500px;min-height:400px;">
            <p:layoutUnit position="west" resizable="true" size="200" class="nav-left">
                <p:menu>
                    <p:menuitem value="Home" url="/faces/index.xhtml" icon="ui-icon-home"/>
                   
                        <p:menuitem value="Register Employee" url="/faces/view/employee_registration.xhtml"/>
                        <p:menuitem value="Search Employee" url="/faces/view/search_registration.xhtml"/>
                        <p:menuitem value="Organization Registration" url="/faces/view/organization_registration.xhtml"/>
                  
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center" style="">


                <h:form id="frmEmpRegistration">
                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblFirstName" value="First Name"/>
                        <p:inputText  id="txtFirstName" required="true" class="input"
                                      value="#{employee.employeeInfo.firstName}"/>
                    </p:panelGrid>

                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblLastName" value="Last Name"/>
                        <p:inputText  id="txtLastName" required="true" class="input"
                                      value="#{employee.employeeInfo.lastName}"/>
                    </p:panelGrid>

                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblPhoneNumber" value="Phone Number"/>
                        <p:inputText  id="txtPhoneNumber" required="true" class="input"
                                      value="#{employee.employeeInfo.phoneNumber}"/>
                    </p:panelGrid>


                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblOrganization" value="Organization"/>
                        <p:inputText  id="txtOrganization" required="true" class="input"
                                      value="#{employee.employeeInfo.organization}"/>
                    </p:panelGrid>

                    <p:commandButton id="btnRegisterEmp" value="Save" action="#{employee.registerEmployee()}" update="frmEmpRegistration"></p:commandButton>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
