<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>leave Type Management</title>

        <style>
            body{
                height: 100%;
            }

            .nav-left {
                width: 20%;
            }

            .content {
                width: 79%;
            }
        </style>

    </h:head>
    <h:body>
        <p:layout style="min-width:400px;min-height:200px;">
            <p:layoutUnit position="west" resizable="true" size="200" class="nav-left">
                <p:menu>
                    <p:menuitem value="Home" url="/faces/index.xhtml" icon="ui-icon-home"/>
                    <p:submenu label="RPC Methods">
                        <p:menuitem value="Register Employee" url="/faces/view/employee_registration.xhtml"/>
                        <p:menuitem value="Search Employee" url="/faces/view/search_registration.xhtml"/>

                    </p:submenu>
                    <p:submenu label="RMI Methods">
                        <p:menuitem value="Organization Registration" url="/faces/view/organization_registration.xhtml"/>
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center">


                <h:form id="frmManageLeaveType">
                    
                    
                    <p:inputText  id="txtLtName" required="true" value="#{leaveManagementController.addLeaveType.name}" placeholder="Leave Type Name"/>
                    <p:inputText  id="txtLtDesc" required="true" value="#{leaveManagementController.addLeaveType.description}" placeholder="Leave Type Description"/>
                    <p:commandButton id="btnAdd" value="Add" action="#{leaveManagementController.addNewLeaveType()}" update="dtLeaveType"></p:commandButton>
                
                    
                    <p:dataTable id="dtLeaveType" var="leaveType" value="#{leaveManagementController.leaveTypes}"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="Leave Type Id">
                        <h:outputText value="#{leaveType.id}" />
                    </p:column>

                    <p:column headerText="Name">
                        <h:outputText value="#{leaveType.name}" />
                    </p:column>

                    <p:column headerText="Description">
                        <h:outputText value="#{leaveType.description}" />
                    </p:column>

                    <p:column headerText="Organization">
                        <p:commandButton id="btnRemove" value="Remove" action="#{leaveManagementController.removeLeaveType(leaveType.id)}" update="dtLeaveType"></p:commandButton>
                    </p:column>

                    
                </p:dataTable>
                </h:form>
                
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
