<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Request Leave</title>

        <style>
            body{
                height: 100%;
            }

            .nav-left {
                width: 20%;
            }

            .content {
                width: 79%;
            }
        </style>

    </h:head>
    <h:body>
        <p:layout style="min-width:400px;min-height:200px;">
            <p:layoutUnit position="west" resizable="true" size="200" class="nav-left">
                <p:menu>
                    <p:menuitem value="Home" url="/faces/index.xhtml" icon="ui-icon-home"/>
                    <p:submenu label="RPC Methods">
                        <p:menuitem value="Register Employee" url="/faces/view/employee_registration.xhtml"/>
                        <p:menuitem value="Search Employee" url="/faces/view/search_registration.xhtml"/>

                    </p:submenu>
                    <p:submenu label="RMI Methods">
                        <p:menuitem value="Organization Registration" url="/faces/view/organization_registration.xhtml"/>
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center">
               
                <h:form id="frmRequestLeaave">
                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblEmployeeId" value="Employee Id"/>
                        <p:inputText  id="txtEmployeeId" required="true"
                                      value="#{leaveManagementController.leaveRequest.empId}"/>
                    </p:panelGrid>

                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblFromDate" value="From Date"/>
                        <p:calendar id="cldrFromDate" value="#{leaveManagementController.leaveRequest.fromDate}" showOn="button"/>
                        
                    </p:panelGrid>

                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblToDate" value="To Date"/>
                        <p:calendar id="cldrToDate" value="#{leaveManagementController.leaveRequest.toDate}" showOn="button"/>
                    </p:panelGrid>


                    <p:panelGrid  columns="1">
                        <p:outputLabel id="lblReason" value="Reason"/>
                        <p:inputText  id="txtReason" required="true"
                                      value="#{leaveManagementController.leaveRequest.reason}"/>
                    </p:panelGrid>

                    <p:commandButton id="btnRequest" value="Save" action="#{leaveManagementController.submitRequest()}" update="frmRequestLeaave"></p:commandButton>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
