<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Employee Leave Status</title>

        <style>
            body{
                height: 100%;
            }

            .nav-left {
                width: 20%;
            }

            .content {
                width: 79%;
            }
        </style>

    </h:head>
    <h:body>
        <p:layout style="min-width:400px;min-height:200px;">
            <p:layoutUnit position="west" resizable="true" size="200" class="nav-left">
                <p:menu>
                    <p:menuitem value="Home" url="/faces/index.xhtml" icon="ui-icon-home"/>
                    <p:submenu label="RPC Methods">
                        <p:menuitem value="Register Employee" url="/faces/view/employee_registration.xhtml"/>
                        <p:menuitem value="Employee Leave Status" url="/faces/view/employee_leave_status.xhtml"/>

                    </p:submenu>
                    <p:submenu label="RMI Methods">
                        <p:menuitem value="Organization Registration" url="/faces/view/organization_registration.xhtml"/>
                    </p:submenu>
                </p:menu>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <h:form id="frmEmpLeaveStatusSearch">

                    <p:inputText  id="txtSearch" required="true" value="#{leaveManagementController.empName}" placeholder="Search by Employee Name"/>
                    <p:commandButton id="btnSearch" value="Search" action="#{leaveManagementController.searchEmployeeLeaveInfo()}" update="dtEmpLeaveInfo"></p:commandButton>
                
                    <p:dataTable id="dtEmpLeaveInfo" var="empLeave" value="#{leaveRequestManagementController.leaveRequest}"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="Employee Id">
                        <h:outputText value="#{empLeave.id}" />
                    </p:column>

                    <p:column headerText="Full Name">
                        <h:outputText value="#{empLeave.fullName}" />
                    </p:column>

                    <p:column headerText="Organization">
                        <h:outputText value="#{empLeave.organization}" />
                    </p:column>

                    <p:column headerText="Leave Statu">
                        <h:outputText value="#{empLeave.leaveStatus}" />
                    </p:column>

                    <p:column headerText="Leave Type">
                        <h:outputText value="#{empLeave.leaveType}" />
                    </p:column>
                        
                        <p:column headerText="&nbsp;">
                            <p:commandButton id="btnSearch" value="Approve" action="#{leaveRequestManagementController.ApproveRequest(empLeave.id)}" update="dtEmpLeaveInfo"/>
                        </p:column>

                </p:dataTable>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
