<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./view/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
        
    <ui:define name="title">
        <h:outputText value="Welcome to ELMS"/>
    </ui:define>

    <ui:define name="content">
        
            <p:panelGrid id="pnlGrdMainContainer" styleClass="pnlGridAlignment noBorders" columns="1">
           
                <p:carousel id="tabsCarousel" itemStyle="height:300px;width:600px;" effect="easeInStrong" numVisible="1">
                    <p:tab title="Page I">
                        <h:panelGrid columns="2" cellpadding="10">
                            
                            <h:outputText
                                value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                style="font-size: 18px;"/>
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="Page II">
                        <h:panelGrid columns="2" cellpadding="10">
                           
                            <h:outputText
                                value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                style="font-size: 18px;"/>    
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="Page III">
                        <h:panelGrid columns="2" cellpadding="10">
                            
                            <h:outputText
                                value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                style="font-size: 18px;"/>
                        </h:panelGrid>
                    </p:tab>
                </p:carousel>
            </p:panelGrid>
    </ui:define>
        
</ui:composition>

