<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <h:form>
        <div id="headerTop">

            <h:outputText value="|"/>
            <h:outputText value="|"/>
            <h:commandLink id="cmdLnkHelp" value="Help"/>
            <h:outputText value="|"/>
            <h:outputText value="|"/>
            <h:commandLink id="cmdLnkSignOut" value="Log Out"/>
        </div>
        <div id="headerContainer">
            <div id="logo">
                ELMS
            </div>
            <div id="app">
                <p:outputLabel id="lblAppName" value="Welcome to Employee Leave Management" styleClass="appName"/>
            </div>
            <div class="clear_both"/>
            <div id="menuContainerTop">
                <div id="emptyContent_TopMenuLeft">
                </div>
                <div id="menuTop">
                    <ui:include src="./headerMenu.xhtml"/>
                </div>
            </div>
        </div>
    </h:form>

</div>
