<div  id="headerMenu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:megaMenu autoDisplay="false">
            <p:menuitem value="Home" url="/faces/index.xhtml" icon="ui-icon-home"/>
            
            <p:submenu label="Employee Profile">
                <p:column>
                    <p:submenu label="Employee Information Management">
                        <p:menuitem value="Register Employee" url="/faces/view/employee_registration.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
            
            <p:submenu label="Organizational Information Management">
                <p:column>
                    <p:submenu label="Organization">
                        <p:menuitem value="Organization Registration" url="/faces/view/organization_registration.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
          
          
            <p:submenu label="Leave Information Management">
                <p:column>
                    <p:submenu label="Leave">
                        <p:menuitem value="Leave Type" url="/faces/view/organization_registration.xhtml"/>
                    </p:submenu>
                </p:column>
            </p:submenu>
           

        </p:megaMenu>
    </h:form>

</div>
