<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml" 
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/custome.css"/>
        <h:outputStylesheet name="./css/calendar.css"/>
    </h:head>
    <h:body>
        <div id="page">
            <div id="top">
                <ui:include src="header.xhtml"/>
            </div>
            <div id="totalCont">
                <div id="left">
                    <ui:insert name="left"></ui:insert>
                </div>
                <div id="content" class="content">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>
            <div id="bottom">
                <ui:include src="footer.xhtml"/>
            </div>
        </div>
    </h:body>
</html>
