/* LAYOUT
----------------------------------------------------------*/
#page {
    width: 100%; 
    margin:0 auto;
    text-align:left;
}

#mainContainer {
    width: 100%;
    height: 100%;
}

#headerContainer {
    height: 100px;
    width: 100%;
}

#footer{
    position: relative;
    height: 20px;
    text-align: center
}

#top {
    border: solid #065a73 0.5px;
    /*border-radius: 8px 8px 0 0;*/

    position: relative;
    float: left;
    width: 100%;
    color: white;
    /*height: 100px;*/
    /*margin: 0 auto;*/
}

#bottom {
    position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 30px;

    background: url(../images/background.jpg);
    font-family: Arial,Helvetica,sans-serif;
    color: white;

}

#left {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
    min-height: 400px;
    max-height: 800px;
    background: url(../images/background.jpg)repeat-x;
    background-color: #5B87A4;
    font-family: Arial;

}

.clear_both {
    clear: both;
}

.content {
    position: relative;
    float: right;
    width: 85%;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    font-family: Arial;
}

#headerTop {
    background: url(../images/background.jpg)repeat-x;
    background-color: #5B87A4;
    /*border-radius: 8px 8px 0 0;*/
    padding-right: 8px;

    height:14px;
    text-align: right;
    font-size:11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#headerTop a{
    margin-right: 5px;
    margin-left: 5px;
    color: #ffffff;
}

#headerTop a:active{
    color: #ff6666;
}

#headerTop a:hover{
    color: #ccccff;
}

#logo {
    position: relative;
    float: left;
    height: auto;
    width: 10%;
    margin: auto;
}

#logo img {
    margin-left: 5px;
    margin-top: 0px;
    padding: auto;
    height: 70%;
    width: 70%;
}

#app{
    /*border: solid 1px #000EDA;*/
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;

    width: 90%;
    background-color: #F2F2F2 ;
    overflow: hidden ;
    color: black;
    height: 100%;  
    /*font-size: 20px;*/
    font-family: Verdana,sans-serif;
}

body {
    font-size: 11px;
    font-family: lucida,grande,tahoma,verdana,arial,sans-serif;
    color: #000000;  
    background-color: #f1f1f1;
    /* background:  url(../images/bg1.png);*/
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

/*Style class for the Application name - if it is a plain text*/
.appName{
    font-size: 42px;
}

/* MENU
----------------------------------------------------------*/
#menuContainerTop{
    width: 100%;
    height: 35px;
}

#emptyContent_TopMenuLeft {
    position: relative;
    float: left;
    width: 0%;
    height: 35px;
    background: url(../images/background.jpg);
    /*border: solid 1px #D20005;*/
}

#menuTop{
    position: relative;
    float: right;
    width: 100%;

    background: url(../images/background.jpg);
    color:black;
    height: 35px;
    margin: auto;
}

#menu{
    background: url(../images/background.jpg);
    color:black;
    height: 20px;

    margin: 0;
    padding: 0;
    /*    border: solid 1px #D20005;*/
}

#menu ul{
    display:block;
    height:20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    list-style:none;
    margin:auto;
    padding: 0;
}

#menu ul li{
    display: inline;
}

#menu ul li a:hover{
    text-decoration: none;
    color:black;
    cursor:pointer;
    background-color: white;
    height:25px;

}

#menu ul li a{
    text-decoration: none;
    display:block;
    width:auto;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight:normal;
    line-height:20px;
    text-align:left;
    padding:0px 3px;    
}

#menu ul li ul{
    position: absolute;
    z-index:1000;
    padding:0px;
    margin:0px;
    border:0px;
    color:#000000;
    outline:black;
    display:none;
}

#menu ul li  ul li{
    display:block;
    float:none;
    margin:0 auto;
    padding:0px;
    width:200px ;
}

#menu li ul li a{
    background:#F8F8F8;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color: black;
    display: block;
    padding:0px 10px 0px 15px;
    text-align:left;
}

#menu li ul li a:hover{
    text-decoration:underline;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #FAFAFA;
    color:#0070BA;
    display: block;
    cursor:pointer;

}
#menu ul li:hover > ul{
    display:block;
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.stylizedLable{
    width: 80px;
    height: 20px;
    background-color: #63B8FF;
    border: 1px dotted background;
}




.fragleft_content {
    background-color: white;
    padding: 5px;
    margin-left: 2px;
    font-family: Arial;
    height: 400px;
}
.ui-layout-pane-south2 {

    position: relative !important;
    width: 99% !important;
    max-width:    99% !important;
    margin: 3% !important;
    margin-left: 0px !important;
    visibility: visible !important;
    height:   230px !important;
    max-height:   230px !important;
}
.ui-layout-pane-wes3t {
    position: relative !important;
    max-height:   522px !important;
    top: 5px !important;
    width: 30% !important;
    max-width:    33% !important;
    min-width: 30% !important;
}
.ui-layout-pane-cent3er {

    margin: 5px  !important;
    width: 67% !important;
    max-height:   522px !important;
    max-width:    67% !important;
    margin-right: 180px !important; 
    min-width: 67% !important;

}

.ui-layout-pane-west {
    position: relative !important;
    
    
}


