/*
Use this file to incorporate your custom styles.
*/
/* 
    Created on : Jun 24, 2014, 2:22:13 PM
    Author     : Mike GTE
*/

/* CUSTOM STYLES*/
.wizard{
    width: 100%;
}
.wizard ul li{
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #065a73), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #065a73 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#065a73', endColorstr='#1e62d0');
    background-color:#065a73;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    /*    font-weight:bold;
        font-style:normal;*/
    height:26px;
    line-height:26px;
    width:130px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #1570cd;
    overflow: hidden;
}

/*.wizard ul li:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #065a73) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #065a73 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#065a73');
    background-color:#1e62d0;
}

.wizard ul li:active {
    position:relative;
    top:1px;
}*/

.errorMsg{
    border: crimson solid 1px;
    background: #FF9966;
}

.noBordersCustom{
    border: none;
}

.bordersDotted{
    border: dotted 0.5px #4F4F4F;
}

.dataTablePanelGrid{
    text-align: right;
    width: 100%;
}

.fullWidth{
    width: 100%;
}

.cmpntFloatRight {
    position: relative;
    float: right;
}

.pnlGridFragmentPage {
    border: 1px dotted black;
    width: 700px;
    height: 200px;
}

.groupingSubPanel {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    vertical-align: middle;
    border: none;
}

.groupingSubPanel input[type="text"] {
    float: left;
    position: relative;
}

.pnlGridAlignment{
    text-align: left;
    width: auto;
}

.pnlGridAlignment tbody tr td{
    vertical-align: top;
    padding-top: 10px;
}


.pnlGridAlignment tbody tr td table tbody tr td input[type="text"]{
    width: 220px;
}

.pnlGridAlignment tbody tr td table tbody tr td textarea{
    width: 220px;
    height: 120px;
}

/*.pnlGridAlignment button {
    font-size: 8px;
    height: 30px;
    background-color: #5B87A4;
    -moz-box-shadow: 0px 0px 10px 1px #002929;
    -webkit-box-shadow: 0px 0px 10px 1px #002929;
    box-shadow: 0px 0px 10px 1px #002929;
}*/

/*.pnlGridAlignment_PagesWithDT button {
    font-size: 6px;
    height: 30px;
    background-color: #5B87A4;
    background-color: #C4C4C4;
    -moz-box-shadow: 0px 0px 10px 1px #002929;
    -webkit-box-shadow: 0px 0px 10px 1px #002929;
    box-shadow: 0px 0px 10px 1px #002929;
    text-align: center;
    
    background: -moz-linear-gradient(center middle, #5B87A4, #5B87A4) repeat scroll 0% 0% #5B87A4;
}*/
 /*    font-size: 6px;
        height: 30px;
        background-color: #5B87A4;
        background-color: #C4C4C4;
        -moz-box-shadow: 0px 0px 10px 1px #002929;
        -webkit-box-shadow: 0px 0px 10px 1px #002929;
        box-shadow: 0px 0px 10px 1px #002929;
        text-align: center;
        background: -moz-linear-gradient(center middle, #5B87A4, #5B87A4) repeat scroll 0% 0% #5B87A4;*/
    
/*    background: -moz-linear-gradient(center top , #C4C4C4, #C4C4C4) repeat scroll 0% 0% #C4C4C4 !important;
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0)));*/
    /*background-color: #5B87A4 !important;*/

    form button {
   
    background: #5B87A4 !important;
    
    font-size: 14px !important;
    height: 30px !important;
    box-shadow: 1px 1px 3px 0.5px #5B87A4 !important;
    text-align: center !important;
    border-radius: 5px !important;
    border: 1px solid #5B87A4 !important;
    color: white !important;
    width: auto !important;

    font-weight: normal !important;
    text-shadow: none !important;
}

/*.pnlGridAlignment_PageWithTab button{
    font-size: 8px;
    height: 30px;
    background-color: #5B87A4;
    -moz-box-shadow: 0px 0px 10px 1px #002929;
    -webkit-box-shadow: 0px 0px 10px 1px #002929;
    box-shadow: 0px 0px 10px 1px #002929;
}*/


.pnlGridAlignment_PagesWithDT {
    text-align: left;
    width: 100%;
}

.pnlGridAlignment_PagesWithDT tbody th {
    font-size: 12px;
}

.pnlGridAlignment_PagesWithDT tbody tr td{
    vertical-align: top;
    padding-top: 10px;
}

.pnlGridAlignment_PagesWithDT tbody tr td table tbody tr td input[type="text"]{
    width: 220px;
}

.pnlGridAlignment_PagesWithDT tbody tr td table tbody tr td textarea{
    width: 220px;
    height: 120px;
}

.pnlGridAlignment_PageWithTab {
    text-align: left;
    width: 100%;
}

.pnlGridAlignment_PageWithTab tbody tr td{
    vertical-align: top;
    padding-top: 10px;
}

.pnlGridAlignment_PageWithTab tbody tr td table tbody tr td input[type="text"]{
    width: 220px;
}

.pnlGridAlignment_PageWithTab tbody tr td table tbody tr td textarea{
    width: 220px;
    height: 120px;
}

.pnlGridAlignment_PageWithTab div {
    /*border: #4F4F4F dotted 1px;*/
    border: none;
}

.pnlGridAlignment_PageWithTab div div {
    border: none;
    background: #FAFCFF;
    /*    padding: 2.25em 1.6875em;
        background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
        background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
        -webkit-background-size: 3px 3px;
        -moz-background-size: 3px 3px;
        background-size: 3px 3px;
    */
}

.pageTitle{
    font-size: 20px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wmLong{
    font-size: 8px;
}

/*Readonly text field color style*/
input[readonly="true"]{
    background-color: cyan;
    color:Black;
}
/*End of Readonly text field color style*/
/* END OF CUSTOM STYLES*/


